.container{
    display: flex;
}

.dodaj{
    display: grid;
    grid-template-columns: 100px 1fr;
    flex-basis: 400px;
    row-gap: 15px;
    border: 2px solid black;
    padding: 10px;

}

.grid-column-span-2{
    grid-column-start: 1;
    grid-column-end: 3;
}

.sobe{
    width: 100%;
}

.select, option {
    background-color: white;
    color: black;
}
